<%- include('../partials/header') %>
<div class="container my-5">
    <header>
        <h1>Register New User</h1>
    </header>
    <hr>

    <div>
        <form action="/users" method="POST">
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" name="firstName" class="form-control">

                <label for="lastName">Last Name:</label>
                <input type="text" name="lastName" class="form-control">
                
                <label for="email">Email :</label>
                <input type="email" name="email" class="form-control">
                
                <label for="emailConfirmation">Email Confirmation:</label>
                <input type="text" name="emailConfirmation" class="form-control">
                
                <label for="password">Password :</label>
                <input type="password" name="password" class="form-control">
                
                <label for="passwordConfirmation">Password Confirmation:</label>
                <input type="password" name="passwordConfirmation" class="form-control">

                <div class="form-group">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </div>
        
        </form>

    </div>
</div>

<%- include('../partials/footer') %> 